:root {
  --primary: #2a7303;
  --primary2:#40b104;
  --danger: #ff5a6e;
  --warning:#E6A23C;
  --white: #fff;
  --fontsmall: 18rpx;
  --fonttitle: 32rpx;
  --sectitle: 26rpx;
  --fontlabel:28rpx;
}

.label{
	color: #999999;
}
.warning{
	color: var(--warning);
}
.icon-del-box {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 2px;
	right: 2px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	transform: rotate(-45deg);
}

.icon-del {
	width: 15px;
	height: 2px;
	background-color: #fff;
	border-radius: 2px;
}
 .rotate {
     position: absolute;
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
 }   
.uni-input-input{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}